# Android
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
*.jks

# App builds
app/build/
app/release/
*.apk
*.aab

# Kotlin
*.class

# Gradle
.gradle/
gradle-wrapper.jar
!gradle-wrapper.properties

# OS
Thumbs.db
ehthumbs.db

# IDE
*.swp
*.swo
*.orig
*.bak

# Project-specific
.tmp/

app/src/main/assets/*.task
app/src/main/assets/*.tflite
